Repository Alanii/NewHestia, pull requests merged in 2020-12, with the labels that each got.

#347 EPP + stun nerf revert
  code/modules/boh_misc/boxes.dm
  code/modules/projectiles/guns/energy/pulse.dm
  code/modules/projectiles/projectile/beams.dm
Labels: Adjustment, Balancing, Review Required 👓

#348 Give SL bridge access
  maps/torch/job/security_jobs.dm
Labels: Jobs

#353 Civilian Dogtags are now generic
  maps/torch/items/clothing/boh_accessory.dm
Labels: Speedmerge ⚡

#352 Access Fix
  maps/torch/job/security_jobs.dm
Labels: Adjustment, Bugfix

#314 Engineering duty gloves are now insulated
  maps/torch/items/clothing/solgov-hands.dm
Labels: Adjustment

#355 Buff jani belt
  code/game/objects/items/weapons/storage/belt.dm
Labels: Adjustment, Balancing

#360 Fixes a bit of an oopsie I made with limb printing
  code/game/machinery/bioprinter.dm
Labels: Speedmerge ⚡

#361 Punitelli died again
  maps/torch/torch_npcs.dm
Labels: Lore

#357 IPCs now have a "generic" culture
  code/__defines/culture.dm
  code/modules/culture_descriptor/culture/cultures_ipc.dm
  code/modules/species/station/machine.dm
  code/modules/species/station/shell.dm
Labels: Addition

#356 Squad Leader carbine
  maps/torch/infantry/firearms.dm
Labels: Addition, Review Required 👓

#362 Give CE master EVA
  maps/torch/job/command_jobs.dm
Labels: Balancing

#358 FINNALY AUTOHISSING TO TAJARAN
  code/modules/mob/living/autohiss.dm
Labels: Addition, Review Required 👓

#364 Adds the Unathi Staff, with 99% less git muck
  code/game/objects/items/weapons/melee/misc.dm
  code/modules/client/preference_setup/loadout/lists/xenowear.dm
  icons/mob/onmob/items/lefthand.dmi
  icons/mob/onmob/items/righthand.dmi
  icons/mob/onmob/onmob_back.dmi
  icons/obj/weapons.dmi
Labels: Addition, Review Required 👓

#366 Pixelshifting 2: Electric Boogaloo
  code/datums/movement/mob.dm
  code/modules/mob/living/living.dm
  code/modules/mob/mob.dm
  code/modules/mob/mob_defines.dm
  interface/skin.dmf
Labels: Addition, Review Required 👓

#365 Add force to duty boots
  code/modules/clothing/shoes/miscellaneous.dm
Labels: Balancing, Review Required 👓

#370 Yeets Prommies from antag
  code/game/antagonist/antagonist.dm
Labels: Adjustment, Review Required 👓
