Repository Alanii/NewHestia, pull requests merged in 2020-10, with the labels that each got.

#2 Fix Antag Spawns
  code/game/gamemodes/cult/cult.dm
  code/game/gamemodes/heist/heist.dm
  code/game/gamemodes/mixed/crossfire.dm
  code/game/gamemodes/mixed/uprising.dm
  code/game/gamemodes/nuclear/nuclear.dm
Labels: Adjustment

#73 EC removal this time
  maps/torch/job/torch_jobs_boh.dm
  maps/torch/torch_ranks_boh.dm
Labels: Removal

#74 Radio host 2
  code/game/jobs/access_datum.dm
  maps/torch/job/service_jobs.dm
  maps/torch/torch3_deck3.dmm
  maps/torch/torch_areas.dm
Labels: Map Changes

#75 NTEF Accessories/Unathi Coveralls
  icons/mob/species/unathi/onmob_under_unathi.dmi
  loadout_head.dm
  maps/torch/icons/mob/onmob_head_solgov.dmi
  maps/torch/icons/obj/obj_head_solgov.dmi
  maps/torch/items/clothing/solgov-head.dm
  solgov-under.dm
Labels: Review Required 👓, Sprites, enhancement

#83 Whitelists squad leader
  maps/torch/job/security_jobs.dm
Labels: Jobs

#84 [ci skip] Quickly fixes file paths of the clothing
  loadout_head.dm
  maps/torch/items/clothing/solgov-under.dm
  maps/torch/loadout/loadout_head.dm
  solgov-under.dm
Labels: Speedmerge ⚡

#77 Add resist and CTRL/ALT+WASD hotkeys
  interface/skin.dmf
Labels: enhancement

#80 Adds a bunch of emergency shutters to deck 4 and deck 5 maintenance.
  maps/torch/torch1_deck5.dmm
  maps/torch/torch2_deck4.dmm
Labels: Map Changes

#81 Revamped SSV 2: Electric Boogaloo
  baystation12.dme
  code/modules/skrell/skrell_machines.dm
  maps/away/skrellscoutship/skrellscoutship-1.dmm
  maps/away/skrellscoutship/skrellscoutship-2.dmm
  maps/away/skrellscoutship/skrellscoutship.dm
  maps/away/skrellscoutship/skrellscoutship_areas.dm
  maps/away/skrellscoutship/skrellscoutship_shuttles.dm
Labels: Map Changes

#87 "Minor" skill reassignment
  maps/torch/job/engineering_jobs.dm
  maps/torch/job/medical_jobs.dm
  maps/torch/job/research_jobs.dm
Labels: Adjustment

#88 Fuzzy Handcuffs
  code/game/objects/items/weapons/handcuffs.dm
Labels: enhancement

#82 mega giga security fix
  maps/torch/torch5_deck1.dmm
Labels: Map Changes, Review Required 👓

#91 New Hair (Fix)
  code/modules/sprite_accessories/_accessory_hair.dm
  icons/mob/human_races/species/human/hair.dmi
Labels: Sprites

#90 Bridge armory fix
  maps/torch/torch6_bridge.dmm
Labels: Map Changes

#93 Further adjust skills to remove master trainees
  maps/torch/job/engineering_jobs.dm
  maps/torch/job/medical_jobs.dm
Labels: Balancing

#96 Small fix to my athletics change
  code/modules/mob/living/carbon/human/human_movement.dm
Labels: Balancing

#99 Coat and Loadout Option
  code/modules/client/preference_setup/loadout/lists/suits.dm
  code/modules/clothing/suits/jobs.dm
  icons/obj/clothing/obj_suit.dmi
Labels: Sprites

#101 New High-Vis Coat Fix
  icons/mob/onmob/onmob_suit.dmi
Labels: Sprites

#104 Monarch Serpentids
  code/modules/ascent/ascent_rigs.dm
  code/modules/species/mantid/mantid.dm
  maps/away/ascent/ascent-1.dmm
  maps/away/ascent/ascent-2.dmm
  maps/away/ascent/ascent_jobs.dm
Labels: Map Changes, enhancement

#103 Adds some fluff to the SSV; fixes bad Z-level wire, shortens the shuttle size.
  maps/away/skrellscoutship/skrellscoutship-1.dmm
  maps/away/skrellscoutship/skrellscoutship-2.dmm
Labels: Map Changes, Review Required 👓

#105 Fixes Ascent Windoors Having Brig Access
  maps/away/ascent/ascent-2.dmm
Labels: Map Changes, Review Required 👓

#106 Long Corporate Labcoats for Science
  code/modules/client/preference_setup/loadout/lists/suits.dm
  code/modules/clothing/suits/labcoat.dm
  maps/torch/loadout/loadout_suit.dm
Labels: Adjustment, Review Required 👓

#107 Removes death sound and fixes the brain gib bug
  code/modules/organs/external/_external.dm
  code/modules/species/species.dm
Labels: Bugfix, Removal

#109 Clapped prommies and added them to inf
  code/game/objects/auras/regenerating_aura.dm
  code/modules/species/station/prometheans.dm
  maps/torch/torch_ranks_boh.dm
Labels: Adjustment

#110 Revert "Merge pull request #102 from Mocha-Not-Latte/Wingfixxo"
  modular_mithra/code/modules/mithra/sprite_accessories_vr.dm
Labels: Speedmerge ⚡

#112 Prommies no longer soldiers and slight edit on core damage
  code/game/objects/auras/regenerating_aura.dm
  maps/torch/torch_ranks_boh.dm
Labels: Balancing

#114 Skrell and Unathi now have proper EVA Rig sprites
  code/modules/clothing/spacesuits/rig/suits/station.dm
  icons/mob/species/skrell/onmob_head_skrell.dmi
  icons/mob/species/unathi/generated/onmob_feet_unathi.dmi
  icons/mob/species/unathi/generated/onmob_hands_unathi.dmi
  icons/mob/species/unathi/onmob_head_helmet_unathi.dmi
  icons/mob/species/unathi/onmob_suit_unathi.dmi
Labels: Adjustment, Sprites

#113 Roboticist can now SMC And NTEF
  maps/torch/job/engineering_jobs.dm
Labels: Adjustment

#115 Changes hostile mobs faction
  code/modules/boh/offsite/syndi.dm
  code/modules/mob/living/simple_animal/hostile/antlion.dm
  code/modules/mob/living/simple_animal/hostile/bad_drone.dm
  code/modules/mob/living/simple_animal/hostile/bat.dm
  code/modules/mob/living/simple_animal/hostile/bear.dm
  code/modules/mob/living/simple_animal/hostile/carp.dm
  code/modules/mob/living/simple_animal/hostile/creature.dm
  code/modules/mob/living/simple_animal/hostile/drake.dm
  code/modules/mob/living/simple_animal/hostile/faithful_hound.dm
  code/modules/mob/living/simple_animal/hostile/faithless.dm
  code/modules/mob/living/simple_animal/hostile/giant_spider.dm
  code/modules/mob/living/simple_animal/hostile/hivebot.dm
  code/modules/mob/living/simple_animal/hostile/leech.dm
  code/modules/mob/living/simple_animal/hostile/mimic.dm
  code/modules/mob/living/simple_animal/hostile/pike.dm
  code/modules/mob/living/simple_animal/hostile/russian.dm
  code/modules/mob/living/simple_animal/hostile/syndicate.dm
  code/modules/mob/living/simple_animal/hostile/tree.dm
  code/modules/mob/living/simple_animal/hostile/vagrant.dm
  code/modules/mob/living/simple_animal/hostile/voxslug.dm
Labels: Adjustment

#119 Fixes Access Issues with Roboticist
  maps/torch/job/engineering_jobs.dm
  maps/torch/job/outfits/engineering_outfits.dm
Labels: Bugfix, Review Required 👓

#120 New Labcoat (w/ Color)
  code/modules/client/preference_setup/loadout/lists/suits.dm
  code/modules/clothing/suits/labcoat.dm
  icons/mob/onmob/onmob_suit.dmi
  icons/obj/clothing/obj_suit.dmi
Labels: Sprites

#122 Wooops!
  maps/antag_spawn/terrorist/terrorist.dm
Labels: Bugfix

#124 Update labcoat.dm
  code/modules/clothing/suits/labcoat.dm
Labels: Bugfix

#118 Monarch serpentids
  code/modules/species/mantid/mantid.dm
  maps/away/ascent/ascent-1.dmm
  maps/away/ascent/ascent_jobs.dm
Labels: Map Changes, Removal, Review Required 👓

#125 Removed genemodder positive and negative traits
  baystation12.dme
  modular_mithra/code/modules/mithra/07_traits.dm
  modular_mithra/code/modules/mithra/global_lists_vr.dm
  modular_mithra/code/modules/mithra/spawncheck.dm
  modular_mithra/code/modules/mithra/traits.dm
  modular_mithra/code/modules/mithra/traits_negative.dm
  modular_mithra/code/modules/mithra/traits_neutral.dm
  modular_mithra/code/modules/mithra/traits_positive.dm
  test/check-paths.sh
Labels: Balancing

#129 Plasmemes, the second coming
  code/controllers/subsystems/jobs.dm
  code/datums/uplink/armor_and_tactical_wear.dm
  code/datums/uplink/medical.dm
  code/game/objects/items/weapons/storage/boxes.dm
  code/game/objects/items/weapons/tanks/tank_types.dm
  code/modules/boh/items/plasmasans.dm
  code/modules/reagents/Chemistry-Reagents/Chemistry-Reagents-Toxins.dm
  code/modules/reagents/reagent_containers/hypospray.dm
Labels: Adjustment, Bugfix

#131 Zombie Rework
  baystation12.dme
  code/__defines/dna.dm
  code/__defines/languages.dm
  code/__defines/mobs.dm
  code/game/gamemodes/godmode/form_items/narsie_items.dm
  code/game/machinery/_machines_base/machinery.dm
  code/game/machinery/doors/airlock.dm
  code/game/machinery/doors/blast_door.dm
  code/game/machinery/doors/door.dm
  code/game/machinery/doors/firedoor.dm
  code/game/machinery/doors/multi_tile.dm
  code/game/objects/items.dm
  code/game/objects/items/weapons/cards_ids.dm
  code/game/objects/items/weapons/lighter.dm
  code/game/objects/structures.dm
  code/game/objects/structures/girders.dm
  code/game/objects/structures/morgue.dm
  code/game/objects/structures/window.dm
  code/game/turfs/simulated/wall_attacks.dm
  code/modules/admin/admin.dm
  code/modules/admin/topic.dm
  code/modules/boh_misc/chemicals.dm
  code/modules/clothing/under/miscellaneous.dm
  code/modules/mechs/mech_interaction.dm
  code/modules/mob/language/alien/antag.dm
  code/modules/mob/living/carbon/carbon_powers.dm
  code/modules/mob/living/carbon/hallucinations.dm
  code/modules/mob/living/carbon/human/death.dm
  code/modules/mob/living/carbon/human/human_attackhand.dm
  code/modules/mob/living/carbon/human/human_species.dm
  code/modules/mob/living/carbon/human/unarmed_attack.dm
  code/modules/mob/living/carbon/human/update_icons.dm
  code/modules/mob/living/carbon/life.dm
  code/modules/mob/living/living_defines.dm
  code/modules/mob/living/living_powers.dm
  code/modules/mob/observer/ghost/ghost.dm
  code/modules/mob/transform_procs.dm
  code/modules/modular_computers/computers/modular_computer/interaction.dm
  code/modules/reagents/Chemistry-Reagents/Chemistry-Reagents-Toxins.dm
  code/modules/reagents/reagent_containers/syringes.dm
  code/modules/species/outsider/zombie.dm
  code/modules/species/station/prometheans.dm
  icons/mob/human_races/species/default_husk.dmi
  maps/random_ruins/exoplanet_ruins/datacapsule/datacapsule.dm
  maps/torch/items/clothing/solgov-under.dm
Labels: Adjustment, Bugfix, Review Required 👓, Sprites

#121 Alcoholic Additives
  code/modules/reagents/Chemistry-Reagents/Chemistry-Reagents-Food-Drinks.dm
  code/modules/reagents/Chemistry-Recipes.dm
  code/modules/reagents/dispenser/cartridge_presets.dm
  code/modules/reagents/dispenser/dispenser_presets.dm
Labels: enhancement

#132 Update voxslug.dm
  code/modules/mob/living/simple_animal/hostile/voxslug.dm
Labels: Adjustment

#134 Fixes uniforms not appearing in character creation
  code/modules/mob/living/carbon/human/update_icons.dm
Labels: Bugfix

#136 Changed the laser protection names, values and added a fire delay to inf las
  code/__defines/armor.dm
  code/game/gamemodes/cult/cult_items.dm
  code/game/gamemodes/godmode/form_items/starlight_items.dm
  code/game/gamemodes/wizard/servant_items/caretaker.dm
  code/game/gamemodes/wizard/servant_items/champion.dm
  code/game/gamemodes/wizard/servant_items/fiend.dm
  code/modules/ascent/ascent_rigs.dm
  code/modules/boh/items/plasmasans.dm
  code/modules/boh_misc/rigs.dm
  code/modules/clothing/chameleon.dm
  code/modules/clothing/gloves/miscellaneous.dm
  code/modules/clothing/head/helmet.dm
  code/modules/clothing/head/jobs.dm
  code/modules/clothing/shoes/miscellaneous.dm
  code/modules/clothing/spacesuits/alien.dm
  code/modules/clothing/spacesuits/captain.dm
  code/modules/clothing/spacesuits/miscellaneous.dm
  code/modules/clothing/spacesuits/rig/suits/alien.dm
  code/modules/clothing/spacesuits/rig/suits/combat.dm
  code/modules/clothing/spacesuits/rig/suits/ert.dm
  code/modules/clothing/spacesuits/rig/suits/light.dm
  code/modules/clothing/spacesuits/rig/suits/merc.dm
  code/modules/clothing/spacesuits/rig/suits/station.dm
  code/modules/clothing/spacesuits/rig/suits/vox.dm
  code/modules/clothing/spacesuits/syndi.dm
  code/modules/clothing/spacesuits/void/merc.dm
  code/modules/clothing/spacesuits/void/misc.dm
  code/modules/clothing/spacesuits/void/station.dm
  code/modules/clothing/suits/armor.dm
  code/modules/clothing/suits/utility.dm
  code/modules/clothing/under/accessories/armor.dm
  code/modules/clothing/under/jobs/security.dm
  code/modules/mechs/components/armour.dm
  code/modules/mob/living/simple_animal/hostile/boh_mechs.dm
  code/modules/mob/living/simple_animal/hostile/retaliate/exoplanet.dm
  code/modules/projectiles/projectile/beams.dm
  maps/torch/infantry/firearms.dm
Labels: Adjustment, Balancing, LOOOOOOOREEEEY, enhancement

#135 Adds a new exoplanet ruin.
  baystation12.dme
  maps/random_ruins/exoplanet_ruins/abandoned_town/abandoned_town.dm
  maps/random_ruins/exoplanet_ruins/abandoned_town/abandoned_town.dmm
Labels: Map Changes, enhancement

#141 Lets ghosts see flavor text.
  code/modules/mob/mob.dm
Labels: Adjustment

#144 Revert "Merge pull request #135 from bearrrrrrrr/abandonedtown"
  baystation12.dme
  maps/random_ruins/exoplanet_ruins/abandoned_town/abandoned_town.dm
  maps/random_ruins/exoplanet_ruins/abandoned_town/abandoned_town.dmm
Labels: Speedmerge ⚡

#142 The Canned Squid PR: Adds Skrellian RIGs, Power Cells and Gas Synthesizers.
  baystation12.dme
  code/modules/clothing/spacesuits/rig/suits/light.dm
  code/modules/clothing/spacesuits/rig/suits/station.dm
  code/modules/clothing/spacesuits/void/misc.dm
  code/modules/skrell/skrell_rigs.dm
  icons/mob/species/skrell/onmob_back_rig_skrell.dmi
  icons/mob/species/skrell/onmob_chest_rig_skrell.dmi
  icons/mob/species/skrell/onmob_feet_rig_skrell.dmi
  icons/mob/species/skrell/onmob_hands_rig_skrell.dmi
  icons/mob/species/skrell/onmob_head_rig_skrell.dmi
  icons/obj/clothing/obj_feet.dmi
  icons/obj/clothing/obj_hands.dmi
  icons/obj/clothing/obj_head.dmi
  icons/obj/clothing/obj_suit.dmi
  icons/obj/rig_modules.dmi
  icons/obj/skrell.dmi
  maps/away/skrellscoutship/skrellscoutship-1.dmm
Labels: enhancement

#145 New Exoplanet Ruin - Transport shuttle
  maps/random_ruins/exoplanet_ruins/transport/transport.dm
  maps/random_ruins/exoplanet_ruins/transport/transport.dmm
Labels: Map Changes, enhancement

#140 Plasma man suit spawn bugfix
  code/controllers/subsystems/jobs.dm
  code/datums/outfits/outfit.dm
Labels: Bugfix, LOOOOOOOREEEEY

#133 New vox ship and equipment
  baystation12.dme
  code/__defines/materials.dm
  code/game/dna/dna_modifier.dm
  code/game/machinery/computer/cloning.dm
  code/game/machinery/vox.dm
  code/modules/emotes/definitions/_species.dm
  code/modules/emotes/definitions/vox.dm
  code/modules/hydroponics/seed_datums.dm
  code/modules/hydroponics/seed_packets.dm
  code/modules/hydroponics/seed_storage.dm
  code/modules/materials/definitions/materials_wood.dm
  code/modules/materials/material_sheets.dm
  code/modules/mob/living/carbon/human/human_species.dm
  code/modules/reagents/Chemistry-Reagents/Chemistry-Reagents-Other.dm
  code/modules/species/outsider/vox.dm
  icons/obj/hydroponics_growing.dmi
  icons/obj/hydroponics_products.dmi
  icons/obj/vox.dmi
  maps/away/voxship/voxship-1.dmm
  maps/away/voxship/voxship-2.dmm
  maps/away/voxship/voxship.dm
  maps/away/voxship/voxship.dmi
  maps/away/voxship/voxship_access.dm
  maps/away/voxship/voxship_areas.dm
  maps/away/voxship/voxship_jobs.dm
  maps/away/voxship/voxship_jobs_boh.dm
  sound/voice/alienchattersmol.ogg
  sound/voice/ashriek.ogg
  sound/voice/shriek2.ogg
  sound/voice/shriek3.ogg
  sound/voice/shriek4.ogg
Labels: Adjustment, Map Changes, Sprites, enhancement

#149 Fix the buggy gas synthesizers
  code/modules/skrell/skrell_rigs.dm
Labels: Bugfix

#151 Fixes everyone having combat expert
  code/modules/mob/skills/skill.dm
Labels: Bugfix, LOOOOOOOREEEEY

#157 Solgov Rep can now get master finance and bureaucy
  maps/torch/job/command_jobs.dm
Labels: Balancing

#156 Biomech is now (again) a separate role.
  maps/torch/icons/assignment_hud_boh.dmi
  maps/torch/items/cards_ids.dm
  maps/torch/job/engineering_jobs.dm
  maps/torch/job/medical_jobs.dm
  maps/torch/job/outfits/medical_outfits.dm
  maps/torch/job/torch_jobs.dm
  maps/torch/loadout/_defines.dm
  maps/torch/loadout/loadout_accessories.dm
  maps/torch/loadout/loadout_suit.dm
Labels: enhancement

#152 Adds a chemistry recipe for liquid corruption
  code/game/machinery/Sleeper.dm
  code/modules/reagents/Chemistry-Reagents.dm
  code/modules/reagents/Chemistry-Reagents/Chemistry-Reagents-Toxins.dm
  code/modules/reagents/Chemistry-Recipes.dm
  code/modules/species/outsider/zombie.dm
Labels: Review Required 👓, enhancement

#165 Adjusts the availability of the Warrant Officer rank
  maps/torch/job/torch_jobs_boh.dm
Labels: Adjustment

#168 Removing tiles now requires you to be in help intent.
  code/game/objects/structures/catwalk.dm
  code/game/turfs/simulated/floor_attackby.dm
Labels: Adjustment

#160 Kevlar Armor and Loadout Opt.
  code/modules/clothing/suits/armor.dm
  icons/mob/onmob/onmob_modular_armor.dmi
  icons/obj/clothing/obj_suit_modular_armor.dmi
  maps/torch/loadout/loadout_suit.dm
Labels: Adjustment

#167 Tactical reload
  code/modules/mob/skills/skill.dm
  code/modules/projectiles/guns/projectile.dm
Labels: Addition

#166 Surgery does not take half an hour anymore.
  code/modules/surgery/bones.dm
  code/modules/surgery/encased.dm
  code/modules/surgery/face.dm
  code/modules/surgery/generic.dm
  code/modules/surgery/implant.dm
  code/modules/surgery/limb_reattach.dm
  code/modules/surgery/organs_internal.dm
Labels: Adjustment

#169 Atmospherics Control can no longer see the air alarms of other Z-Levels
  code/modules/modular_computers/file_system/programs/engineering/atmos_control.dm
Labels: Bugfix

#170 Enables the Wartorn planet.
  baystation12.dme
Labels: Adjustment

#162 Gives Exploration some love and ports the Flaregun
  baystation12.dme
  code/modules/fabrication/designs/general/designs_arms_ammo.dm
  code/modules/overmap/exoplanets/exoplanet.dm
  code/modules/projectiles/projectile/energy.dm
  code/modules/projectiles/projectile/flaregun.dm
  icons/mob/onmob/items/lefthand_guns.dmi
  icons/mob/onmob/items/righthand_guns.dmi
  icons/obj/guns/flaregun.dmi
  maps/torch/job/outfits/exploration_outfits.dm
  maps/torch/job/torch_jobs_boh.dm
Labels: Addition, Adjustment

#174 Hopefully last time I have to fix this
  code/modules/projectiles/guns/projectile/shotgun.dm
  icons/obj/guns/skrell_shotgun.dmi
Labels: Balancing, Bugfix

#176 Cash dupe fix
  code/modules/economy/cash.dm
Labels: Bugfix

#177 Certain species are now blacklisted as antags
  code/game/antagonist/antagonist.dm
  code/game/antagonist/antagonist_helpers.dm
Labels: Addition, Balancing

#171 Reduces the amount of loadout points & Starting skills for Biomech.
  maps/torch/job/medical_jobs.dm
Labels: Balancing, Review Required 👓
