Repository Alanii/NewHestia, pull requests merged in 2020-11, with the labels that each got.

#178 Fix for species blacklist
  code/game/antagonist/antagonist_helpers.dm
  code/game/antagonist/antagonist_update.dm
Labels: Bugfix

#179 3AM pr go brr
  maps/torch/torch5_deck1.dmm
Labels: Bugfix

#183 Ungunks the CO and XO's revolvers
  code/modules/boh_misc/boxes.dm
  code/modules/projectiles/guns/projectile/revolver.dm
  code/modules/projectiles/projectile/bullets.dm
Labels: Adjustment

#181 Random Bolts Begone!
  maps/torch/torch3_deck3.dmm
Labels: Map Changes

#180 Infantry Remap: Round Two
  maps/torch/infantry/firearms.dm
  maps/torch/job/command_jobs.dm
  maps/torch/torch1_deck5.dmm
Labels: Map Changes

#186 Fixes up secarm
  maps/torch/torch5_deck1.dmm
Labels: Balancing, Map Changes

#187 Gives science more leeway with paygrades
  maps/torch/job/torch_jobs_boh.dm
Labels: Adjustment, Jobs

#189 Infantry Remap Fixes
  maps/torch/infantry/firearms.dm
  maps/torch/structures/closets.dm
  maps/torch/torch1_deck5.dmm
Labels: Bugfix

#185 Robotic Surgery Tweaks / Increases Complex Devices Cost / Biomech Skills Tweak
  code/modules/mob/skills/skill.dm
  code/modules/surgery/__surgery_setup.dm
  code/modules/surgery/other.dm
  code/modules/surgery/robotics.dm
  maps/torch/job/engineering_jobs.dm
  maps/torch/job/medical_jobs.dm
Labels: Adjustment, Balancing

#191 Sl fixes more
  maps/torch/structures/closets.dm
  maps/torch/torch1_deck5.dmm
Labels: Adjustment, Balancing, Bugfix

#193 Makes the MSEA a SMC Attache
  maps/torch/icons/assignment_hud_boh.dmi
  maps/torch/items/headsets.dm
  maps/torch/items/stamps.dm
  maps/torch/job/outfits/boh_outfits.dm
  maps/torch/job/torch_jobs_boh.dm
  maps/torch/structures/closets/command.dm
  maps/torch/torch5_deck1.dmm
  maps/torch/torch_areas.dm
Labels: Adjustment, Jobs

#194 Actually fixes the missing SL gunbox
  maps/torch/structures/closets.dm
  maps/torch/torch1_deck5.dmm
Labels: Bugfix

#195 Fixes missing ascent generator
  code/modules/boh/ascent2/machines.dm
Labels: Bugfix

#200 GAS fixes wave 1
  code/modules/mob/grab/grab_datum.dm
  code/modules/species/station/nabber.dm
Labels: Adjustment, Bugfix, LOOOOOOOOOOOOREEEEEEEEEY

#205 reflavors the SC to be existant but defunct, other SG lore changes
  maps/away/icarus/icarus.dm
  maps/torch/structures/signs.dm
Labels: Adjustment

#202 Add some items to D-2 Auxiliary Armory
  maps/torch/torch4_deck2.dmm
Labels: Addition, Map Changes, Review Required 👓

#203 Another skill rebalance
  maps/torch/job/command_jobs.dm
  maps/torch/job/research_jobs.dm
  maps/torch/job/service_jobs.dm
  maps/torch/job/torch_jobs_boh.dm
  maps/torch/torch_ranks_boh.dm
Labels: Balancing, Review Required 👓

#209 [ci skip] Delete azure-pipelines.yml
  azure-pipelines.yml
Labels: Speedmerge ⚡

#213 Adds a sound effect for when an airlock breaks
  code/game/machinery/doors/airlock.dm
  sound/machines/airlock_break.ogg
Labels: Addition

#210 Adds 8 medical/engineering armbands to the E-armory
  maps/torch/torch5_deck1.dmm
Labels: Map Changes

#201 Robotic is now Science. Biomech Tweaks.
  maps/torch/items/cards_ids.dm
  maps/torch/job/engineering_jobs.dm
  maps/torch/job/medical_jobs.dm
  maps/torch/job/outfits/engineering_outfits.dm
  maps/torch/job/outfits/research_outfits.dm
  maps/torch/job/research_jobs.dm
  maps/torch/job/torch_jobs.dm
  maps/torch/loadout/_defines.dm
  maps/torch/torch4_deck2.dmm
  maps/torch/torch5_deck1.dmm
  maps/torch/torch_areas.dm
  maps/torch/torch_elevator.dm
Labels: Jobs, Map Changes

#219 Ascent prison cell fixes
  maps/away/ascent/ascent-1.dmm
  maps/away/ascent/ascent-2.dmm
Labels: Bugfix, Map Changes

#214 Gives Prospector/Drill Technician/Salvage Technician Master EVA
  maps/torch/job/supply_jobs.dm
Labels: Adjustment

#216 Illumination grenades are no longer terrible
  code/game/objects/items/weapons/grenades/light.dm
  code/game/objects/items/weapons/storage/boxes.dm
  code/modules/clothing/spacesuits/rig/modules/combat.dm
Labels: Adjustment

#217 CO and XO gunbox changes round seven: Carl Boogaloo
  code/modules/boh_misc/boxes.dm
  code/modules/projectiles/guns/projectile/pistol.dm
Labels: Adjustment

#218 Missing area fix
  maps/torch/torch3_deck3.dmm
Labels: Bugfix, Map Changes

#222 Fixes shotgun again yes
  code/__defines/guns.dm
  code/modules/projectiles/ammunition/boxes.dm
  code/modules/projectiles/ammunition/bullets.dm
  code/modules/projectiles/guns/projectile/shotgun.dm
Labels: Adjustment

#220 Reverts changes to robotics' lab & More changes.
  maps/torch/job/engineering_jobs.dm
  maps/torch/job/outfits/research_outfits.dm
  maps/torch/job/research_jobs.dm
  maps/torch/loadout/_defines.dm
  maps/torch/torch4_deck2.dmm
  maps/torch/torch5_deck1.dmm
  maps/torch/torch_areas.dm
  maps/torch/torch_elevator.dm
Labels: Adjustment, Map Changes

#223 AI exodus sounds
  sound/AI/torch/aliens.ogg
  sound/AI/torch/commandreport.ogg
  sound/AI/torch/intercept.ogg
  sound/AI/torch/ionstorm.ogg
  sound/AI/torch/meteors.ogg
  sound/AI/torch/newAI.ogg
  sound/AI/torch/outbreak5.ogg
  sound/AI/torch/outbreak7.ogg
  sound/AI/torch/poweroff.ogg
  sound/AI/torch/radiation.ogg
Labels: Addition

#225 (Hopefully) Fixes Prometheans spontaneously dying
  code/game/objects/auras/regenerating_aura.dm
Labels: Bugfix

#224 Fixes custom window bug
  code/game/objects/structures/window.dm
Labels: Bugfix

#215 SL Secondary Box Tweak
  maps/torch/infantry/firearms.dm
Labels: Adjustment

#226 Gives infantry rechargers
  maps/torch/torch1_deck5.dmm
Labels: Map Changes, enhancement

#228 Fixes the RCD
  code/_onclick/adjacent.dm
  code/game/objects/items/weapons/RCD.dm
Labels: Bugfix

#231 fixes engineer colors outside of robotics, adds proper colors to maint storage on deck 1
  maps/torch/torch5_deck1.dmm
Labels: Map Changes

#204 Makes combi-knife actually function and fixes its tools.
  code/game/objects/items/weapons/material/swiss.dm
Labels: Adjustment, Balancing

#230 Boron Fushion
  code/datums/supplypacks/dispcarts.dm
  code/modules/power/fusion/fusion_reactions.dm
  code/modules/reagents/Chemistry-Reagents/Chemistry-Reagents-Toxins.dm
  code/modules/reagents/dispenser/cartridge_presets.dm
Labels: Addition

#232 Adds meatstation, a new away site for explo/infantry
  maps/away/meatstation/meatstation.dm
  maps/away/meatstation/meatstation.dmm
  maps/away/meatstation/meatstation_areas.dm
  maps/away/meatstation/meatstation_left_hand.dmi
  maps/away/meatstation/meatstation_right_hand.dmi
  maps/away/meatstation/meatstation_sprites.dmi
  maps/away_sites_testing/away_sites_testing.dm
  maps/torch/torch.dm
Labels: Addition, Map Changes

#235 Allows suit sensors to be set on spawn & See IPC charge on suit sensors console.
  code/controllers/subsystems/jobs.dm
  code/datums/repositories/crew/binary.dm
  code/datums/repositories/crew/vital.dm
  code/modules/client/preference_setup/general/03_equipment.dm
  code/modules/clothing/clothing.dm
  code/modules/mob/living/carbon/human/human_organs.dm
  code/modules/mob/living/silicon/robot/analyzer.dm
  nano/templates/crew_monitor.tmpl
Labels: Addition, Adjustment, Balancing, good first issue

#238 Shell IPCs: "It's called being human, you should try it sometime."
  baystation12.dme
  code/__defines/mobs.dm
  code/modules/organs/robolimbs.dm
  code/modules/species/station/shell.dm
  maps/torch/job/torch_jobs.dm
Labels: Addition, good first issue

#242 Gives the robotics vendor some more stuff.
  code/game/machinery/vending.dm
Labels: Adjustment

#239 Expands the sauna.
  maps/torch/torch3_deck3.dmm
Labels: Adjustment, Map Changes

#246 Mask icon fix
  icons/obj/clothing/obj_mask.dmi
Labels: Bugfix

#248 Adds Cooling Units to Shell IPC loadouts
  code/modules/client/preference_setup/loadout/lists/xenowear_boh.dm
Labels: Adjustment

#249 The infantry weeps, sec cries
  code/modules/projectiles/ammunition.dm
  code/modules/projectiles/ammunition/boxes.dm
  maps/torch/infantry/firearms.dm
Labels: Adjustment, Bugfix

#250 Fixes windows not blocking movement onto low walls
  code/game/objects/structures/window.dm
Labels: Bugfix

#208 New SSV Roles based on sub-caste. New Exchange Qrii-Zuumqix slot for Humans. Also Ranks.
  baystation12.dme
  code/controllers/subsystems/jobs.dm
  code/game/objects/items/weapons/implants/implants/translator.dm
  code/modules/clothing/skrell-accessory.dm
  code/modules/skrell/skrell_rigs.dm
  icons/mob/onmob/onmob_accessories.dmi
  icons/mob/species/skrell/onmob_back_rig_skrell.dmi
  icons/mob/species/skrell/onmob_chest_rig_skrell.dmi
  icons/mob/species/skrell/onmob_feet_rig_skrell.dmi
  icons/mob/species/skrell/onmob_hands_rig_skrell.dmi
  icons/mob/species/skrell/onmob_head_rig_skrell.dmi
  icons/obj/clothing/obj_accessories.dmi
  icons/obj/clothing/obj_feet.dmi
  icons/obj/clothing/obj_hands.dmi
  icons/obj/clothing/obj_head.dmi
  icons/obj/clothing/obj_suit.dmi
  icons/obj/rig_modules.dmi
  maps/away/skrellscoutship/skrellscoutship-1.dmm
  maps/away/skrellscoutship/skrellscoutship-2.dmm
  maps/away/skrellscoutship/skrellscoutship.dm
  maps/torch/loadout/_defines.dm
Labels: Addition, Jobs, Map Changes

#252 Fixes buggy RIG gloves & Exchange Role Description
  code/modules/skrell/skrell_rigs.dm
  maps/away/skrellscoutship/skrellscoutship.dm
Labels: Adjustment

#257 Fixes magazine loading
  code/modules/projectiles/ammunition.dm
Labels: Bugfix

#255 Infantry Gun Registration Resets
  maps/torch/infantry/firearms.dm
Labels: Bugfix

#254 Infantry Prep changes based on feedback
  maps/torch/structures/closets.dm
  maps/torch/torch1_deck5.dmm
Labels: Adjustment, Map Changes

#253 Fixes the annoucement sounds being silent
  maps/torch/torch_announcements.dm
Labels: Adjustment

#240 Brig Rework (again)
  maps/torch/torch5_deck1.dmm
  maps/torch/torch6_bridge.dmm
  maps/torch/torch_areas.dm
Labels: Adjustment, Changes Requested ⚠, Map Changes

#244 Item Stack Improvements
  code/game/objects/items/stacks/stack.dm
  code/game/objects/structures/window.dm
  code/modules/materials/_materials.dm
  test/check-paths.sh
Labels: Adjustment

#258 Fixes some oversights in my last PR
  maps/torch/torch5_deck1.dmm
Labels: Map Changes

#261 Fits flashlights on webbed vests
  code/modules/clothing/suits/armor.dm
Labels: Adjustment

#260 Gives Genemodders the Tie-Hair verb
  modular_mithra/code/modules/species/station/custom.dm
Labels: Adjustment

#264 Adds a new sound effect when a gun jam is cleared.
  code/modules/projectiles/guns/projectile.dm
  sound/weapons/unjam.ogg
Labels: Addition, good first issue

#263 Prometheans pass 2 and minor error fix
  code/game/objects/auras/regenerating_aura.dm
  code/modules/species/species_helpers.dm
Labels: Adjustment, Balancing, Bugfix

#265 Removes Exchange Role. Minor map tweaks.
  maps/away/skrellscoutship/skrellscoutship-1.dmm
  maps/away/skrellscoutship/skrellscoutship.dm
Labels: Map Changes, Removal

#269 I dont even know
  code/datums/underwear/socks.dm
  icons/mob/human.dmi
  maps/torch/torch5_deck1.dmm
Labels: Addition, Map Changes

#270 Adds fingerless gloves and corrects senior officer clothing
  maps/torch/datums/uniforms_exp_fleet.dm
  maps/torch/icons/mob/onmob_hands_solgov.dmi
  maps/torch/icons/mob/onmob_suit_solgov.dmi
  maps/torch/icons/obj/obj_hands_solgov.dmi
  maps/torch/items/clothing/solgov-hands.dm
Labels: Addition, Bugfix

#271 Lace fix
  code/modules/organs/internal/stack.dm
Labels: Bugfix

#274 Fixes Explorers getting Pilot gear
  maps/torch/job/torch_jobs_boh.dm
Labels: Bugfix

#275 Socks
  code/datums/underwear/socks.dm
  icons/mob/human.dmi
Labels: Addition

#278 Remove Limb Printing from Bioprinters
  code/game/machinery/bioprinter.dm
Labels: Removal

#277 Ports the megaphone sound from Aurora
  code/game/objects/items/devices/megaphone.dm
  sound/items/megaphone.ogg
Labels: Addition, good first issue

#280 New armour sprites and the replacement of ballistic armour in sec
  code/modules/clothing/head/helmet.dm
  code/modules/clothing/suits/armor.dm
  code/modules/clothing/under/accessories/armor.dm
  icons/mob/onmob/onmob_head.dmi
  icons/mob/onmob/onmob_modular_armor.dmi
  icons/obj/clothing/obj_head.dmi
  icons/obj/clothing/obj_suit_modular_armor.dmi
  maps/torch/torch5_deck1.dmm
Labels: Addition, Adjustment, Map Changes

#284 People cry, prommies die
  code/modules/species/station/prometheans.dm
Labels: Adjustment

#281 Makes Security Voidsuits a little less insane
  code/modules/clothing/spacesuits/void/station.dm
Labels: Adjustment

#285 Minor wiring fixes on the SSV.
  maps/away/skrellscoutship/skrellscoutship-1.dmm
Labels: Bugfix, Map Changes

#267 fixes RCD door having wrong access in CE room
  maps/torch/torch6_bridge.dmm
Labels: Map Changes

#286 Colors the fusion EM field
  code/modules/power/fusion/core/core_field.dm
Labels: Addition

#290 Fixes merchants being able to board centcom
  maps/torch/z1_admin.dmm
Labels: Bugfix, Map Changes

#289 By sigmar you have posted CRINGE(Prommies are no longer immortal)
  code/game/objects/auras/regenerating_aura.dm
  code/modules/species/station/prometheans.dm
Labels: Balancing, Review Required 👓

#293 punitelli is dead
  code/modules/reagents/reagent_containers/drinkingglass/glass_types.dm
  maps/torch/torch_npcs.dm
Labels: Lore

#298 Give Pathfinder and Shuttle Pilot an extended oxygen tank
  maps/torch/structures/closets/exploration.dm
Labels: enhancement

#299 oneline R-UST injector fix
  code/modules/power/fusion/fuel_assembly/fuel_injector.dm
Labels: Bugfix

#300 Adds the *warble audible emote and its sound
  code/modules/emotes/definitions/_species.dm
  code/modules/emotes/definitions/audible.dm
  sound/voice/warble.ogg
Labels: Addition

#301 Paint gun can paint light tubes/bulbs
  code/game/objects/items/devices/paint_gun.dm
Labels: Addition, enhancement

#297 Some love for Bearcat
  maps/away/bearcat/bearcat-1.dmm
  maps/away/bearcat/bearcat-2.dmm
Labels: Map Changes

#302 Adds the fleet polo and pants uniform into the loadout
  maps/torch/loadout/loadout_uniform_boh.dm
Labels: enhancement

#303 Cosmetic additons
  code/modules/client/preference_setup/loadout/lists/xenowear.dm
  code/modules/clothing/head/misc.dm
  code/modules/clothing/shoes/miscellaneous.dm
  code/modules/clothing/under/accessories/accessory.dm
  icons/mob/onmob/onmob_accessories.dmi
  icons/mob/onmob/onmob_feet.dmi
  icons/mob/onmob/onmob_head.dmi
  icons/obj/clothing/obj_accessories.dmi
  icons/obj/clothing/obj_feet.dmi
  icons/obj/clothing/obj_head.dmi
Labels: Addition, Review Required 👓

#304 Lets humans pick the spacecop faction
  maps/~mapsystem/maps.dm
Labels: Bugfix

#306 Properly disables limb printing from Bioprinters
  code/game/machinery/bioprinter.dm
Labels: Adjustment

#308 NTEF Uniform Fixes + Captain's Hat/Jacket
  maps/torch/datums/uniforms_exp_fleet.dm
  maps/torch/datums/uniforms_fleet.dm
  maps/torch/icons/mob/onmob_head_solgov.dmi
  maps/torch/icons/mob/onmob_suit_solgov.dmi
  maps/torch/icons/obj/obj_head_solgov.dmi
  maps/torch/icons/obj/obj_suit_solgov.dmi
  maps/torch/items/clothing/solgov-head.dm
  maps/torch/items/clothing/solgov-suit.dm
  maps/torch/job/outfits/command_outfits.dm
  maps/torch/loadout/loadout_head.dm
Labels: Addition, Bugfix

#309 Shell IPC clean-up, two new chassis
  code/modules/clothing/clothing.dm
  code/modules/clothing/spacesuits/void/void.dm
  code/modules/organs/robolimbs.dm
  code/modules/species/station/shell.dm
  icons/mob/human_races/cyberlimbs/zenghumk2/zenghumk2_main.dmi
  icons/mob/human_races/cyberlimbs/zenghumk3/zenghumk3_main.dmi
  modular_mithra/code/modules/clothing/spacesuits/rig/suits/station.dm
Labels: Addition, Review Required 👓

#305 Adds PCRC and SAARE berets
  code/modules/clothing/head/jobs.dm
  icons/mob/onmob/onmob_head.dmi
  icons/obj/clothing/obj_head.dmi
  maps/torch/loadout/loadout_head_boh.dm
Labels: Addition

#307 Stingers
  baystation12.dme
  code/datums/supplypacks/security.dm
  code/game/objects/items/weapons/grenades/stinger.dm
  code/game/objects/items/weapons/storage/boxes.dm
  icons/obj/grenade.dmi
Labels: Addition

#310 Adds SAARE faction background
  code/__defines/culture.dm
  code/modules/culture_descriptor/faction/factions_human.dm
  code/modules/species/station/machine.dm
  code/modules/species/station/prometheans.dm
  code/modules/species/station/shell.dm
  code/modules/species/station/station.dm
  maps/~mapsystem/maps.dm
  modular_mithra/code/modules/species/station/custom.dm
Labels: Addition

#311 Pilot Suit Cycler Update Deck 5 Dagon
  maps/torch/torch1_deck5.dmm
Labels: Map Changes

#319 Fix to the melee exploit and skill integration
  code/modules/mob/living/carbon/human/unarmed_attack.dm
Labels: Addition, Bugfix

#315 RIG Gloves now deploy over your previous gloves
  code/modules/clothing/spacesuits/rig/rig_pieces.dm
Labels: QOL

#317 Gives Warrant Officer to: BC , Biomech Tech
  maps/torch/job/medical_jobs.dm
  maps/torch/job/torch_jobs_boh.dm
Labels: Adjustment

#279 Miscellaneous fixes to items
  icons/obj/clothing/obj_mask.dmi
  maps/torch/loadout/loadout_head.dm
Labels: Bugfix, Sprites

#312 Autolathe Category Button and RPED sound
  code/game/machinery/_machines_base/machinery_components.dm
  nano/templates/fabricator.tmpl
  sound/items/rped.ogg
Labels: QOL

#320 We cant have nice things
  code/modules/projectiles/guns/energy/laser.dm
  code/modules/projectiles/guns/projectile/sniper.dm
  maps/torch/infantry/firearms.dm
Labels: Adjustment, Bugfix

#313 Engi tool - hand drill (screwdriver/wrench)
  baystation12.dme
  code/game/machinery/vending.dm
  code/game/objects/items/weapons/tools/handdrill.dm
  icons/mob/onmob/items/lefthand.dmi
  icons/mob/onmob/items/righthand.dmi
  icons/obj/tools.dmi
  maps/torch/structures/closets/engineering.dm
  sound/items/change_drill.ogg
Labels: Addition, Sprites

#324 Actually fixes tectonic (and lasers)
  code/modules/projectiles/guns/energy/laser.dm
  code/modules/projectiles/guns/energy/pulse.dm
  maps/torch/infantry/firearms.dm
  maps/torch/torch5_deck1.dmm
Labels: Bugfix, Map Changes

#325 Add a 3D glasses option to glasses in loadout menu.
  code/modules/client/preference_setup/loadout/lists/eyegear.dm
Labels: Addition

#327 Adds Tajaran Language/Cultures
  baystation12.dme
  code/__defines/culture.dm
  code/__defines/languages.dm
  code/modules/culture_descriptor/culture/cultures_tajaran.dm
  code/modules/mob/language/alien/tajaran.dm
  code/stylesheet.dm
  modular_mithra/code/modules/species/station/tajaran.dm
Labels: Addition, Review Required 👓

#334 Adds maid outfits.
  code/game/gamemodes/wizard/servant_items/infiltrator.dm
  code/game/objects/structures/crates_lockers/closets/wardrobe.dm
  code/modules/clothing/head/misc.dm
  code/modules/clothing/under/skirts.dm
  icons/mob/onmob/onmob_under.dmi
  icons/mob/species/skrell/onmob_head_skrell.dmi
  icons/obj/clothing/obj_under.dmi
Labels: Addition, Sprites

#333 New hornet sprite and few fixes
  code/game/machinery/vending.dm
  code/modules/projectiles/guns/projectile/sniper.dm
  icons/mob/onmob/items/lefthand_guns.dmi
  icons/mob/onmob/items/righthand_guns.dmi
  maps/torch/torch4_deck2.dmm
  maps/torch/torch5_deck1.dmm
Labels: Addition, Balancing, Map Changes, Sprites

#330 Medical Skill Cap Adjustment
  html/changelogs/N8medskills.yml
  maps/torch/job/medical_jobs.dm
Labels: Adjustment, Balancing

#337 Fixes arm guard names
  code/modules/clothing/under/accessories/armor.dm
Labels: Adjustment, Bugfix

#341 Duffels can now hold huge items
  code/game/objects/items/weapons/storage/backpack.dm
Labels: Adjustment, Balancing, QOL

#340 Significiant -> Significant
  code/modules/client/preference_setup/matchmaking/relations_types.dm
Labels: Adjustment, QOL, good first issue

#343 Removes knife boot draw time
  code/modules/clothing/clothing.dm
Labels: Adjustment, Balancing
